<tr>
  <td>
    <%= sale.name %>
  </td>

  <td>
    <%= sale.starts_on %>
  </td>

  <td>
    <%= sale.ends_on %>
  </td>

  <td>
  <strong>
    <% if sale.finished? %>
      <span class="text-danger">Finished</span>
    <% elsif sale.upcoming? %>
      <span class="text-warning">Upcoming</span>
    <% else %>
      <span class="text-success">Active</span>
    <% end %>
  </strong>
  </td>

  <td>
    <%= sale.percent_off %>
  </td>
</tr>